@media (min-width:576px){

}
@media (min-width:768px) {
  header{
    height: 100px;
    img{
      padding: 3em!important;
    }
  }
  nav{
    top: unset!important;
    position: relative!important;
    left: 0!important;
    background: none!important;
    height: 100%!important;
    align-items: center;
    ul{
      flex-direction:row!important;
      margin: 0;
    }
  }
  .bg{
    height: 450px!important;
    background-position: center!important;
    background-position-y: bottom!important;
  }
  #bars{
    display: none!important;
  }

  footer{
    -webkit-clip-path: polygon(0 28px,30% 28px,calc(30% + 96px) 0,calc(70% - 96px) 0,70% 28px,100% 28px,100% 100%,0 100%);
    clip-path: polygon(0 28px,30% 28px,calc(30% + 96px) 0,calc(70% - 96px) 0,70% 28px,100% 28px,100% 100%,0 100%);
  }
}